/* scroll-btn */

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }

#scrollToTopBtn {
    display: none; /* Початково ховаємо кнопку */
    position: fixed; /* Фіксуємо кнопку на сторінці */
    bottom: 20px; /* Відстань від нижнього краю сторінки */
    right: 20px; /* Відстань від правого краю сторінки */
    z-index: 99; /* Забезпечуємо, щоб кнопка завжди була найвищим шаром */
    background-color: #3d88ce; /* Колір кнопки */
    color: white; /* Колір тексту кнопки */
    border: none; /* Відключаємо границі */
    border-radius: 50%; /* Закруглюємо краї кнопки (щоб вона була круглою) */
    padding: 15px; /* Збільшуємо розмір кнопки */
    cursor: pointer; /* Змінюємо вигляд курсору при наведенні на кнопку */
}

a {
    text-decoration: none;
    color: rgb(4, 109, 35);
}